doctype 5
html
  head
    title The Coast 20th Anniversary
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Alfa+Slab+One')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/socket.io.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
    if isHistoryPage
      script(type='text/javascript')
        window.isHistoryPage = true;
    script(type='text/javascript', src='/javascripts/script.js?v=3')
    script(type='text/javascript')
      window.currentKeyword = '!{currentKeyword}';

    
  body
    block content
    a.powered(href='http://hashpi.pe', target="_blank")